<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCut-7_IyDFbu3WedehyLLc56RS0CUVESc",
        authDomain: "mobdb-98215.firebaseapp.com",
        databaseURL: "https://mobdb-98215.firebaseio.com",
        projectId: "mobdb-98215",
        storageBucket: "mobdb-98215.appspot.com",
        messagingSenderId: "138796014905"
      };
      firebase.initializeApp(config);
      var database = firebase.database();
      console.log(firebase.auth());
    </script>
  </body>
</html>
